
@mixin bg-grey-color-black($time) {
    background-color: #ccc;
    color: $colorBlack;
    transition: all $time;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.notifi_covid{
    position: relative;
    background-color: #222;
    a{
        display: inline-block;
    }
    .close_notify_covid:hover,
    .close_notify_covid:focus{
        cursor: pointer;
        @include bg-grey-color-black($timeMove4)
    }
}
.container__header{
    background-image: url('./../image/backgroundMain/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    left: 0;
    right: 0;
}
.main__nav{
    padding: 0 80px;
    height: 80px;
    @extend .flex-row;
    flex-wrap: wrap;
    align-items: center;
    .main__nav__left{
        width: 100%;
        flex-basis: 30%;
        svg{
            color:$colorWhite;
            cursor: pointer;
        };
        svg:last-child{
            display: none;
        }
    }
    .main__nav__center{
        width: 100%;
        flex-basis: 40%;
    }
    .main__nav__right{
        @extend .flex-row;
        width: 100%;
        flex-basis: 30%;
        $colorHover: #9a9a9a63;
        $borderRadius: 20px;
        .main__nav__right-8{
            width: 100%;
            flex-basis: 80%;
            .become_host,.select_language{
                color:$colorWhite;
                float: right;
                transition: all $timeMove4;
                text-decoration: none;
                border-radius: $borderRadius;
            }
            .become_host:hover,.select_language:hover{
                background-color: $colorHover;
            }
            .select_language{
                margin-right: 5px;
            }
        }
        .main__nav__right-2{
            position: relative;
            width: 100%;
            flex-basis: 20%;
            .user_btn{
                outline: none;
                border:1px solid $colorGrey;
                width: 100%;
                border-radius: $borderRadius;
                padding: 8px 5px 8px 12px;
                @extend .flex-row;
                justify-content: space-around;
                align-items: center;
                cursor: pointer;
                i{
                    font-size: 20px;
                }
                i:first-child{
                    font-size: 14px;
                    margin-right: 5px;
                }
            }
            .user_btn:hover{
                transition: all $timeMove4;
                box-shadow: 0px 3px 3px #d0c8c8;
            }
            .user_btn_container{
                box-shadow: 0px 0px 4px #736f6f;
                display: none;
                $border:8px;
                position: absolute;
                z-index: 3;
                top: 100%;
                min-width: 200px;
                border-radius: $border;
                right: 0;
                color: #717171;
                font-size: 15px;
                background: white;
                .active{
                    color: $colorBlack;
                    font-weight: bold;
                }
                div:first-child{
                    border-top-left-radius: $border;
                    border-top-right-radius: $border;
                }
                div:last-child{
                    border-bottom-left-radius: $border;
                    border-bottom-right-radius: $border;
                }
                div{
                    padding:10px 20px;
                }
                div:hover{
                    cursor: pointer;
                    transition: all $timeMove4;
                    background-color: $colorHover;
                }
            }
        }
    }
}
//nav center
.main__nav{
    .main__nav__center{
        position: relative;
        .main__nav__center-ontop{
            @extend .flex-row;
            justify-content: space-around;
            .noi_o,.trai_nghiem,.trai_nghiem_truc_tuyen{
                position: relative;
            }
            .noi_o::before,.trai_nghiem::before,.trai_nghiem_truc_tuyen::before{
                content: '';
                position: absolute;
                height: 2px;
                top: 100%;
                left: 50%;
                transform: translateX(-50%);
                transition: width $timeMove4;
                width: 0px;
                background-color: white;
            }
            .noi_o:hover,.trai_nghiem:hover,.trai_nghiem_truc_tuyen:hover{
                display: inline-block;
                transition: all $timeMove4;
                color:$colorGrey;
            }
            .noi_o:hover::before,.trai_nghiem:hover::before,.trai_nghiem_truc_tuyen:hover::before,
            .noi_o.active::before,.trai_nghiem.active::before,.trai_nghiem_truc_tuyen.active::before{
                width: 20px;
            }
            .noi_o.active,.trai_nghiem.active,.trai_nghiem_truc_tuyen.active{
                color: white !important;
            }
        }
        .main__nav__center-onbottom{
            position: absolute;
            top: calc(100% + 29px);
            width: 827px;
            right: 50%;
            z-index: 2;
            transform: translateX(50%);
            $border:30px;
            .main__nav__center-onbottom-btn{
                height: 68px;
                position: relative;
                z-index: 8;
                @extend .flex-row;
                background-color: $colorWhite;
                border-radius: $border;
                p{
                    color:$color222
                }
                $padding:16px 14px;
                $paddingw:18px;
                $backgroundcolor:rgb(231, 228, 228);
                .nav__center-onbottom-btn-dia_diem,
                .list-btn-select li{
                    width: 100%;
                    padding: $padding;
                    border-radius: $border;
                    cursor: pointer;
                    transition: all $timeMove4;
                }
                .list-btn-select li{
                    position: relative;
                }
                .list-btn-select li::before{
                    content: '';
                    transition: all $timeMove4;
                    position: absolute;
                    display: block;
                    width: 1.5px;
                    top: 50%;
                    transform: translate(-$paddingw ,-50%);
                    height: 27px;
                    background-color: $backgroundcolor;
                }
                .nav__center-onbottom-btn-dia_diem:hover,
                .list-btn-select li:hover{
                    background-color: $backgroundcolor;
                }
                .list-btn-select li:hover::before{
                    background-color: $colorWhite;
                }
                .list-btn-select{
                    width: 100%;
                    list-style: none;
                    @extend .flex-row
                }
                .nav-onbottom-btn-icon{
                    cursor: pointer;
                    $width:50px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(-9px,-50%);
                    width: $width;
                    height: $width;
                    background: $primaryColor;
                    text-align: center;
                    line-height: $width;
                    color: white;
                    border-radius: 50%;
                    transition: all $timeMove4;
                }
                .nav-onbottom-btn-icon:hover{
                    opacity: 0.8;
                }
            }
            .main__nav__center-onbottom-container{
                // display: none;
                background-color: $colorWhite;
                position: absolute;
                top:100%;
                margin-top: 12px;
                border-radius: $border;
                padding: 16px 32px;
                .nav__center-dia_diem{
                    width: 500px;
                    .title{
                        padding: 8px 0px 2px;
                        font-weight: 600;
                        font-size: 1.2rem;
                    }
                    .dia_diem-btn{
                        margin-top: 16px;
                        .dia_diem-link{
                            display: block;
                            border-radius: 30px;
                            border: 1px solid $colorGrey;
                            padding: 14px 24px;
                            font-size: 1.8rem;
                            font-weight: bold;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            box-shadow: 0px 6px 16px rgba(0 ,0, 0,0.12) ;
                            i{
                                font-size: 23px;
                            }
                            transition: all $timeMove4;
                            color: $primaryColor;
                        }
                        .dia_diem-link:hover{
                            box-shadow: 0px 6px 16px rgba(0 ,0, 0,0.29) ;
                        }
                    }
                }
                
            }
        }
        .nav__center-btn-ontop{
            border-radius: 20px;
            padding: 4px 12px;
            padding-right: 6px;
            cursor: pointer;
            border: 1px solid #ccc;
            transition: all 0.4s;
            @extend .flex-row;
            justify-content: space-between;
            align-items: center;
            .nav__center-btn-ontop-icon{
                $width : 36px;
                color: $colorWhite;
                background-color: $primaryColor;
                width: $width;
                height: $width;
                text-align: center;
                line-height: $width;
                cursor: pointer;
                border-radius: 50%;
            }
        }
        .nav__center-btn-ontop:hover{
            box-shadow: 1px 2px 4px #cccc;
        }
    }
}
.main__nav.stickNav{
    background-color: $colorWhite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 8;
    .main__nav__left{
        svg{
            color: $primaryColor !important;
        }
    }
    .main__nav__right{
        .main__nav__right-8{
            .select_language,.become_host{
                color:$color222;
            }
        }
    }
    .main__nav__center{
        .main__nav__center-ontop{
            .noi_o,.trai_nghiem,.trai_nghiem_truc_tuyen{
                color:black
            }
            .noi_o::before,.trai_nghiem::before,.trai_nghiem_truc_tuyen::before{
                background-color: black;
            }
            .noi_o:hover,.trai_nghiem:hover,.trai_nghiem_truc_tuyen:hover{
                opacity: 0.8;
            }
            .noi_o.active,.trai_nghiem.active,.trai_nghiem_truc_tuyen.active{
                color: black !important;
            }
        }
    }
}
.select-language-money{
    position: fixed;
    z-index: 100;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background-color: #0000003b;
    padding:30px;
    @extend .flex-row;
    justify-content: center;
    align-items: center;
    .select-language-money-container{
        position: relative;
        overflow: hidden;
        max-width: 938px;
        width: 100%;
        height: 100%;
        background-color: white;
        $border:16px;
        border-radius: $border;
        animation: bottom-top 0.4s ease-out;
        @keyframes bottom-top {
            0%{
                top:75%;
                opacity: 0.4;
            }
            100%{
                top:0%;
                opacity: 1;
            }
        }
        .header{
            z-index: 2;
            width: 100%;
            height: 58px;
            background: #fff;
            position: absolute;
        }
        .container-language{
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
        }
        .close-select-language{
            border-top-left-radius: $border;
            position: absolute;
            cursor: pointer;
            color:black;
            padding:16px;
            font-size: 2rem;
            font-weight: bold;
            transition: all $timeMove4;
        }
        .close-select-language:hover{
            background-color: #ccc;
        }
        $margin:16px;
        .select-language-control{
            margin-top: 90px;
            padding: 0px $margin;
            .control-language,.control-money{
                position: relative;
                font-size: 1.6rem;
                color: #222;
                padding: 12px 8px;
                display: inline-block;
                border-radius: 8px;
                background-color: $colorWhite;
                transition:all $timeMove4
            }
            .control-money{
                margin-left:18px
            }
            .control-language:hover,.control-money:hover{
                cursor: pointer;
                background-color: #cccccc78;
            }
            .control-language.active,.control-money.active{
                cursor: default;
                font-weight: bold;
            }
            .control-language.active::after,.control-money.active::after{
                content: '';
                position: absolute;
                top: calc(100% - 2px);
                transform: translateX(-50%);
                left: 50%;
                width: 100%;
                background-color: #000;
                height: 2px;
            }
            
        }
        .list-languages{
            margin: 0px -8px;
            padding:12px 16px;
            .language-item,.money-item{
                padding:12px 16px;
                .language-item-content,
                .money-item-content{
                    overflow:hidden;
                    border-radius: 4px;
                    padding: 10px 12px;border: 1px solid transparent;
                    cursor: pointer;
                    transition: all $timeMove4;
                    .khu_vuc,.ki_hieu{
                        color:#797575
                    }
                    .ngon_ngu,.loai_tien{
                        white-space: nowrap;
                    }
                }
                .language-item-content:hover,
                .money-item-content:hover{
                    background-color: #eee;
                }
                .active{
                    border-color:$colorBlack;
                }
            }
        }
    }
}
.select-title{
    font-size: 2.4rem;
    margin-left: 20px;
    margin-top: 16px;
    font-weight: 500;
}
// reponsive.
.header__on_mobile{
    display: none;
}
@media only screen and (max-width: 576px){//cự kì nhỏ
    .select-language-money{
        display: none;
    }
}

@media only screen and (max-width: 726px){//nhỏ
    .container{
        height: 50% !important;
    }
    .select-language-money{
        display: none;
    }
    .main__nav{
        display: none;
    }
    .container__header-center{
        width: 228px !important;
        p{
            font-size: 16px !important;
            margin-bottom: 8px !important;
        }
        a{
            font-size: 16px !important;
            padding: 19px 12px !important;
        }
    }
    .container .notifi_covid{
        background-color: $colorWhite;
        a,span{
            color: $colorBlack;
        }
        a{
            text-decoration: underline;
            font-size: 12px;
            font-weight: 600;
        }
    }
    .header__on_mobile{
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        .header__on_mobile-search{
            padding: 16px 24px;
            .header__on_mobile-btn{
                cursor: pointer;
                padding: 12px 12px;
                color: #222;
                display: flex;
                border-radius: 23px;
                background-color: $colorWhite;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                i{
                    color:$primaryColor;
                    margin-right: 8px;
                    font-size: 1.5rem;
                }
            }
            .header__on_mobile-search-process{
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                border-top-left-radius: 36px;
                border-top-right-radius: 36px;
                background: $colorWhite;
                height: 100%;
                .header__on_mobile-search-process-ontop{
                    padding: 16px 24px;
                    border-top-left-radius: 36px;
                    border-top-right-radius: 36px;
                    display: flex;
                    $width: 16%;
                    align-items: center;
                    .close-mobile-search-process{
                        width: 100%;
                        flex-basis: $width;
                        color: #222;
                        i{
                            $widthI: 36px;
                            height: $widthI;
                            width: $widthI;
                            text-align: center;
                            font-size: 16px;
                            line-height: $widthI;
                            cursor: pointer;
                            border-radius: 50%;
                        }
                        i:hover{
                            background-color: #eee;
                        }
                    }
                    .input-mobile-sẻarch{
                        width: 100%;
                        flex-basis: 100% - $width;
                        input{
                            cursor: text;
                            width: 100%;
                            padding: 10px;
                            font-size: 16px;
                            border: none;
                            outline: none;
                            border: 1px solid $colorWhite;
                        }
                        input:focus{
                            color: black;
                            border-color:  #eee !important;
                        }
                    }
                }
                .title-process{
                    font-weight: 600;
                    padding: 8px 38px;
                }
                .mobile-search-process-link{
                    padding: 9px 38px 0px 38px;
                    a{
                        box-shadow: 0px 6px 16px rgba(0,0,0,0.12);
                        display: flex;
                        justify-content: space-between;
                        padding: 14px 24px;
                        border: 1px solid #dddddd !important;
                        border-radius: 32px;
                        cursor: pointer;
                        font-weight: bold;
                        color: #551a8b;
                        font-size: 18px;
                        transition: all $timeMove4;
                    }
                    a:hover{
                        box-shadow: 0px 6px 16px rgba(0,0,0,0.20);
                    }
                }
            }
        }
    }
    .header__on_mobile.sticky{
        position: fixed;
        .header__on_mobile-search{
            transition: all $timeMove4;
            background-color: $colorWhite;
            .header__on_mobile-btn{
                background-color:#f3f3f3;
            }
        }
    }
}

@media only screen and (min-width: 727px) and (max-width: 992px){//trung bình
    //main nav chia làm 2 nửa và nav center ở dưới.
    .main__nav{
        padding-left: 50px;
        padding-right:50px;
        .main__nav__left{
            order: 1;
            flex-basis: 50%;
            svg:first-child{
                display: none;
            }
            svg:last-child{
                display: block;
            }
        }
        .main__nav__center{
            order: 3;
            flex-basis: 100%;
            .main__nav__center-ontop{
                width: 370px;
                margin: auto;
            }
            .main__nav__center-onbottom{
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                .main__nav__center-onbottom-btn{
                    height: 60px;
                }
            }
        }
        .main__nav__right{
            order: 2;
            flex-basis: 50%;
        }
        .main__nav__right,.main__nav__left{
            height: 100%;
            display: flex;
            align-items: center;
        }
        .main__nav__left.show{
            flex-basis: 50% !important;
            order: 1;
        }
        .main__nav__right.show{
            flex-basis: 50% !important;
            order: 2 !important;
        }
        .main__nav__center.show{
            order: 3 !important;
            flex-basis: 100% !important;
        }
    }
    .main__nav.stickNav{
        .main__nav__left{
            order: 1;
            flex-basis: 10%;
        }
        .main__nav__center{
            order:2 ;
            flex-basis: 45%;
        }
        .main__nav__center.show{
            .main__nav__center-ontop{
                .noi_o,.trai_nghiem,.trai_nghiem_truc_tuyen{
                    color: white;
                }
                .noi_o::before,.trai_nghiem::before,.trai_nghiem_truc_tuyen::before{
                    background-color: white;
                }
                .noi_o:hover::before,.trai_nghiem:hover::before,.trai_nghiem_truc_tuyen:hover::before{
                    background-color: white;
                }
                .noi_o.active,.trai_nghiem.active,.trai_nghiem_truc_tuyen.active{
                    color:white !important;
                }
                .noi_o.active::before,.trai_nghiem.active::before,.trai_nghiem_truc_tuyen.active::before{
                    background-color: white;
                }
            }
        }
        .main__nav__right{
            order:3 ;
            flex-basis: 45%;
        }
    }
}


@media only screen and (min-width: 993px) and (max-width: 1200px){//lớn
    
}

@media only screen and (min-width: 1201px) {//cực kì lớn

}
.calendar {
    display: none;
    width: 100%;
    height: 32rem;
    .month {
        height: 4rem;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        text-align: center;
        i {
            font-size: 18px;
            cursor: pointer;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
        i:hover{
            background-color: $colorGrey;
            transition: all $timeMove4;
            }  
        p {
            font-size: 1.5rem;
            font-weight: bold;
            }
        }
        .weekdays {
            width: 100%;
            height: 4rem;
            padding: 0 0.4rem;
            display: flex;
            align-items: center;
            div {
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.1rem;
            width: calc(100% / 7);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
        }
    }
    .days {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.2rem;
        transition: all $timeMove4;
        div {
            transition: all $timeMove4;
            font-size: 1.4rem;
            width: 100%;
            flex-basis: calc(100% /7);
            height: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.2s;
        }
        div:hover:not(.today) {
            border: 0.2rem solid #777;
            cursor: pointer;
        }
        .prev-date,
        .next-date {
            color: #ccc;
        }
        .today {
            background-color: $primaryColor;
        }
    }
}
.add_client{
    display: block;
    min-width: 290px;
    .add_client-item{
        padding: 18px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e0dede;
        .add_client-item-left{
            b{
                font-weight: 600;
                font-size: 16px;
            }
            p{
                color:#888
            }
        }
        .add_client-item-right{
            
            .reduce,.increase{
                font-size: 1.2rem;
                $width:34px;
                width: $width;
                height: $width;
                text-align: center;
                line-height: $width;
                background: transparent;
                display: inline-block;
                color: #888;
                border:1px solid #888;
                border-radius: 50%;
            }
            .reduce:disabled{
                cursor: not-allowed !important;
                border: 1px solid #e0dede !important;
                color: #e0dede !important;
            }
            .reduce:hover,.increase:hover{
                color: $color222;
                border-color: $color222;
                cursor: pointer
            }
            .quantity{
                color: #717070;
                font-size: 1.6rem;
                display: inline-block;
                padding: 0px 12px;
            }
        }
    }
    .add_client-item:last-child{
        border-bottom: none;
    }
}
.container__header-center{
    position: absolute;
    z-index: 0;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 281px;
    text-align: center;
    p{
        font-size: 1.8rem;
        color: $colorBlack;
        margin-bottom: 16px;
        font-weight: 600;
    }
    a{  
        color: #551a8b;
        text-decoration: none;
        display: block;
        border-radius: 30px;
        font-weight: bold;
        font-size: 1.8rem;
        background: #d8d8d8;
        padding: 23px 12px;
        box-shadow: 0px 6px 16px #8c01f50d;
        transition: all $timeMove4;
    }
    a:hover{
        box-shadow: 0px 6px 16px #8c01f547;
    }
}